<a href="https://colab.research.google.com/github/markjereminpoblete/CPEN-21A-CPE-1-2/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [8]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

##The Break Statement

In [10]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [11]:
#The break statement
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

##Looping through String

In [12]:
for x in "Programming with Python":
  print(x)

P
r
o
g
r
a
m
m
i
n
g

w
i
t
h

P
y
t
h
o
n

##The Range Function

In [18]:
for x in range(4,10):
  print(x)

4
5
6
7
8
9

##Nested Loop

In [19]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While Loop

In [30]:
i=10
while i>6:
  print(i)
  i-=1

10
9
8
7

###The Break Statement

In [69]:
i=10
while i>6:
    print(i)
    i-=1
    if i==8:
      break

10
9

###The Continue Statement

In [50]:
i=10
while i>6:
  i-=1
  if i==8:
    continue
  print(i)

9
7
6

###The Else Statement

In [51]:
i=10
while i>6:
  i-=1
  print(i)
else:
  print("i is no longer greater than 6.")

9
8
7
6
i is no longer greater than 6.

##Application 1

In [53]:
values = ["Value 0","Value 1","Value 2","Value 3","Value 4","Value 5","Value 6","Value 7","Value 8","Value 9","Value 10"]
for x in values:
  print(x)

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

In [68]:
i= 0
while i<=10 and i>=0:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10

##Application 2

In [57]:
i=20
while i>3:
  i-=1
  if i==3:
    break
  print(i)

19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4